* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 10px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid: 48px 1fr / 1fr
}

header > a > img {
    height: 24px;
    padding-left: 6px;
}

h1 {
    font-size: 1.5rem;
    font-weight: normal;
}

body > header {
    display: grid;
    grid: 1fr / 108px 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    background: #1a599c;
    color: #fff;
}

body > header > a {
    width: 108px;
    height: 32px;
}

#search-videos-icon,
#settings-icon {
    width: 28px;
}

.two-icons-container {
    display: grid;
    grid: 1fr / 1fr 1fr;
    column-gap: 10px;
}

body > main {
    display: grid;
    grid: 
    'thumbnail' max-content
    'details' max-content
    'related-videos' max-content
    'comments' max-content
    / 1fr;
}

#video-thumbnail {
    grid-area: thumbnail;
}

#video-details {
    grid-area: details;
}

#related-videos {
    grid-area: related-videos;
}

#video-comments {
    grid-area: comments;
}